body{
  font-family: 'Roboto Condensed', sans-serif;
}

#top{
  display: flex;
  text-align: center;
  background-color: #1565c0;
}
.side{
  width: 200px;
}
.banner{
  color: white;
  text-align: center;
  font-size: 25px;
  margin:auto;
}

#fh1{
  font-size: 60px
}

.tags {
  color: White;
  text-decoration: none;
}
.tags-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
  border-color: #1565c0;
  background-color: #DF0000;
  height: 40px;
}
.btn {
  color: white;
  font-size: 15px;
  padding: 0px;
  border: none;
  width: 120px;
  height: 35px;
  margin-right: 40px;

}

.dropdown-candidates {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

button {
     background:none;
     padding: 12px 16px;
     font: inherit;
     border-bottom:1px solid #444;
     cursor: pointer;
}
/* #tester_text {
  visibility: hidden;
} */

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-candidates:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-candidates:hover .dropbtn {background-color: #3e8e41;}
