body{
  font-family: 'Roboto Condensed', sans-serif;
}
.banner{
  color:#1565c0;
  text-align: center;
  font-size: 25px;
}

.tags-banner {
  display: flex;
  flex-direction: row;
}

.tags {
  /* padding-left: 20px; */
  color: Black;
  text-decoration: none;
}
.tags-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
}
.btn {
  /* background-color: #4CAF50; */
  color: Black;
  /* padding: 16px; */
  font-size: 15px;
  padding: 0px;
  border: none;
  width: 120px;
  height: 35px;
  margin-right: 40px;
}

.dropdown-candidates {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-candidates:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-candidates:hover .dropbtn {background-color: #3e8e41;}
