body{
  font-family: 'Roboto Condensed', sans-serif;
}

#top{
  display: flex;
  text-align: center;
  background-color: #1565c0;
}
.side{
  width: 200px;
}
#header{
  color: white;
  text-align: center;
  font-size: 50px;
  margin:auto;
}

.headers{
  color: 	#DF0000;
  font-size: 20px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.divis {
  display: flex;
  flex-direction: row;
  padding: 0px;
  align-items: baseline;
}
#states_drpdwn {
  padding-top: 20px;
}
.input_boxes {
 height: 20px;
 font-size: 13px;
 font: caption;
}

#navigation{

  width: 100%;
  display: flex;
}

#navigation ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DF0000;
  border: 2px solid #1565c0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#navigation li{
  float: left;
  width: 200px;
  margin-left: 2px;
}

#navigation li a{
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

select{
  font-size:20px;
}

input[type=submit]{
  font-size: 20px;
  -webkit-appearance: none;
}
