body{
  font-family: 'Roboto Condensed', sans-serif;
  display:flex;
}

.information{
  align-content: center;
  border-width: thick;
}

.headers{
  color: 	#DF0000;
  font-size: 20px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#states_drpdwn {
  padding-top: 20px;
  padding-left: 20px;
}

select{
  font-size:20px;
}

input[type=submit]{
  font-size: 20px;
  -webkit-appearance: none;
}
