body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #F1E8E5;
}

.side{
  width: 200px;
}
#top{
  display: flex;
  text-align: center;
  background-color: #1565c0;
}
#header{
  text-align: center;
  color: 	white;
  font-size: 30px;
  margin:auto;
}

#header h1{
  font-size: 60px
}

#registration-rules{
  font-style:normal;
  font-weight: 400;
  font-size: 18px;
  line-height:1.67;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 25px 25px 25px 25px;
}

#navigation{

  width: 100%;
  display: flex;
}

#navigation ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DF0000;
  border: 2px solid #1565c0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#navigation li{
  float: left;
  width: 200px;
  margin-left: 2px;
}

#navigation li a{
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
