<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>PoliTips</title>
		<link rel="stylesheet" href="/static/home-Politips.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="banner">
			<h1>PoliTips</h1>
			<h2>Let's Get Political!</h4>
		</div>
		<div class="tags-banner">
			<button class="btn"><a class="tags"href="/">Home</a></button>
			<div class="dropdown-candidates">
			<button class="btn"><a class="tags"href="/candidate">Candidates</a></button>
				<div class="dropdown-content">
					<a class="candidate_option" href="http://localhost:8080/candidate?name=donald_trump" >Donald Trump</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=bill_weld">Bill Weld</a>
					<a class="candidate_option"href="http://localhost:8080/candidate?name=michael_bennet">Michael Bennet</a>
					<a class="candidate_option"href="http://localhost:8080/candidate?name=joe_biden">Joe Biden</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=cory_biden">Cory Booker</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=steve_bullock">Steve Bullock</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=pete_buttigieg">Pete Buttigieg</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=julian_castro">Julian Castro</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=bill_de_blasio">Bill de Blasio</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=john_delany">John Delany</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=tulsi_gabbard">Tulsi Gabbard</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=kirsten_gillibrand">Kirsten Gillibrand</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=kamala_harris">Kamala Harris</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=john_hickenlooper">John Hickenlooper</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=jay_inslee">Jay Inslee</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=amy_klobuchar">Amy Klobuchar</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=wayne_messam">Wayne Messam</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=seth_moulton">Seth Moulton</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=beto_orourke">Beto O'Rourke</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=tim_ryan">Tim Ryan</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=bernie_sanders">Bernie Sanders</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=joe_sestak">Joe Sestak</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=tom_steyer">Tom Steyer</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=elizabeth_warren">Elizabeth Warren</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=marianne_williamson">Marianne Williamson</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=andrew_yang">Andrew Yang</a>
				</div>
			</div>
			<button class="btn"><a class="tags"href="/register">Register To Vote<a></button>
			<button class="btn"><a class="tags"href="/pollingplace">Find Your Polling Place<a></button>
		</div>
		<h1 id="tester_text">text</h1>
	</body>
</html>
