<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>PoliTips</title>
		<link rel="stylesheet" href="../static/home-Politips.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="banner">
			<h1>PoliTips</h1>
			<h2>Let's Get Political!</h4>
		</div>
		<div class="tags-banner">
			<button class="btn"><a class="tags"href="http://localhost:8080/"> Home</a></button>
			<div class="dropdown-candidates">
			<button class="btn">Candidates</button>
			<form class="choice" action="profile.html" method="post">
				<div class="dropdown-content">
					<a class="candidate_option"value="donald_trump" href="/Users/cssi/Documents/GitHub/politips/templates/profile.html">Donald Trump</a>
					<a class="candidate_option"value="bill_weld" href="/Users/cssi/Documents/GitHub/politips/templates/profile.html">Bill Weld</a>
					<a class="candidate_option"href="/Users/cssi/Documents/GitHub/politips/templates/profile.html" value="michael_bennet">Michael Bennet</a>
					<a class="candidate_option"value="joe_biden" href="/Users/cssi/Documents/GitHub/politips/templates/profile.html">Joe Biden</a>
					<a class="candidate_option"value="cory_booker" href="/Users/cssi/Documents/GitHub/politips/templates/profile.html">Cory Booker</a>
					<a class="candidate_option"value="steve_bullock" href="/Users/cssi/Documents/GitHub/politips/templates/profile.html">Steve Bullock</a>
					<a class="candidate_option"value="pete_buttigieg" href="/Users/cssi/Documents/GitHub/politips/templates/profile.html">Pete Buttigieg</a>
					<a class="candidate_option"value="julian_castro" href="/Users/cssi/Documents/GitHub/politips/templates/profile.html">Julian Castro</a>
					<a class="candidate_option"value="bill_de_blasio" href="/Users/cssi/Documents/GitHub/politips/templates/profile.html">Bill de Blasio</a>
					<a class="candidate_option"value="john_delany" href="/Users/cssi/Documents/GitHub/politips/templates/profile.html">John Delany</a>
					<a class="candidate_option"value="tulsi_gabbard" href="/Users/cssi/Documents/GitHub/politips/templates/profile.html">Tulsi Gabbard</a>
				</div>
			</form>
			</div>
			<button class="btn"><a class="tags"href="/register">Register To Vote<a></button>
			<button class="btn"><a class="tags"href="/pollingplace">Find Your Polling Place<a></button>
		</div>
		<script src="../static/home-Politips.js">

		</script>
	</body>
</html>
