<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>PoliTips</title>
		<link rel="stylesheet" href="/static/home-Politips.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
		<link rel="icon" href="../static/Screen Shot 2019-07-31 at 4.35.08 PM.png">
	</head>
	<body background="../static/background2.png">
		<div id="top">
		<div class="side"><a href="/"><img src="../static/Screen Shot 2019-07-31 at 4.35.08 PM.png" alt="PoliTips Logo" width="150" height="150"></a></div>
		<div class="banner">
			<h1 id="fh1">PoliTips</h1>
			<h2>Let's Get Political!</h4>
			<div class="side"></div>
		</div>
	</div>
	<section id="navigation">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/candidate">Candidates</a></li>
		<li><a href="/register">Registration Rules</a></li>
		<li><a href="/pollingplace">Polling Place</a></li>
		</section>
			<!-- <form class="choice" action="profile.html" method="post">
				<button type="button" name="button"></button> -->
				<!-- <div class="dropdown-content">
					<a class="candidate_option" href="http://localhost:8080/candidate?name=donald_trump" >Donald Trump</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=bill_weld">Bill Weld</a>
					<a class="candidate_option"href="http://localhost:8080/candidate?name=michael_bennet">Michael Bennet</a>
					<a class="candidate_option"href="http://localhost:8080/candidate?name=joe_biden">Joe Biden</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=cory_biden">Cory Booker</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=steve_bullock">Steve Bullock</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=pete_buttigieg">Pete Buttigieg</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=julian_castro">Julian Castro</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=bill_de_blasio">Bill de Blasio</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=john_delany">John Delany</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=tulsi_gabbard">Tulsi Gabbard</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=kirsten_gillibrand">Kirsten Gillibrand</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=kamala_harris">Kamala Harris</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=john_hickenlooper">John Hickenlooper</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=jay_inslee">Jay Inslee</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=amy_klobuchar">Amy Klobuchar</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=wayne_messam">Wayne Messam</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=seth_moulton">Seth Moulton</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=beto_orourke">Beto O'Rourke</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=tim_ryan">Tim Ryan</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=bernie_sanders">Bernie Sanders</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=joe_sestak">Joe Sestak</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=tom_steyer">Tom Steyer</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=elizabeth_warren">Elizabeth Warren</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=marianne_williamson">Marianne Williamson</a>
					<a class="candidate_option" href="http://localhost:8080/candidate?name=andrew_yang">Andrew Yang</a>
				</div> -->
			<!-- </form> -->
		</div>
		<div id="body_text" style="text-align:center">
			<hr>
			<h2>Welcome to PoliTips!</h3>
				<hr><img src="../static/meme.jpg" alt="The problem with politics is that it's full of politicians.">
<hr>
<h2>Click on a link above to get started: </h2>
			<h3 style="display:inline-block;">
			Candidates will show you the profile of every 2020 United States Presidential election candidate.
				<br>Registration Rules will take you to the rules for voter registration in every state. Just scroll down to yours!
				<br>Polling Place will help you find out where you will be voting. Select your state, then fill out the web form.
			</h4>
		</div>
		<hr>
		<h2>Here's a handy feed of political news. Check out what's been happening: </h2>
		<script src="https://rss.bloople.net/?url=https%3A%2F%2Frss.nytimes.com%2Fservices%2Fxml%2Frss%2Fnyt%2FPolitics.xml&showtitle=false&type=js"></script>

	</body>
</html>
