<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>PoliTips</title>
		<link rel="stylesheet" href="/static/home-Politips.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="banner">
			<h1>PoliTips</h1>
			<h2>Let's Get Political!</h2>
		</div>
		<div class="tags-banner">
			<button class="btn"><a class="tags"href="/">Home</a></button>
			<button class="btn"><a class="tags"href="/candidate">Candidates</a></button>
			<button class="btn"><a class="tags"href="/register">Register To Vote<a></button>
			<button class="btn"><a class="tags"href="/pollingplace">Find Your Polling Place<a></button>
		</div>
		<h1 id="tester_text">text</h1>
	</body>
</html>
