<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/pollingplace.css">
    <title>Find Your Voting Place!</title>
  </head>
  <body>
    <div class="inputboxes">
      <form method="post" action="">
        <select name="states">
          <option>Happy College Grad</option>
          <option>Deep Thought Monkey</option>
          <option>Learning to Code</option>
          <option>Old Classroom</option>
        </select>
        <input type="text" name="user-first-ln" value="First Line of Meme">
        <input type="text" name="user-second-ln" value="Second Line of Meme">
        <input type="text" name="username" value="Username">
        <input type="submit" value="Go!">
      </form>
    </div>
  </body>
</html>
