<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>{{first_name}} {{last_name}}</title>
	<link rel="stylesheet" href="../static/profile.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
	<div>
		<div class="title">
			<h1>{{first_name}} {{last_name}}</h1>
			<div class="profile_info">
				<div class="info">
				</div>
				<div class="candidate_picture">
					<img src="{{picture}}" alt="">
				</div>
			</div>
		</div>
	</div>
</body>

</html>
