<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="register.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Registering To Vote</title>
  </head>
  <body>
    <section id="header">
    <h1>Registering To Vote</h1>
    <h2>Voter Registration Rules</h2>
  </section>
    <section id="registration-rules">
    <p> </p>
    <h1>Alabama</h1>
    <p>To register in Alabama you must:</p>
    <ul>
      <li> be a citizen of the United States</li>
      <li> be a resident of Alabama and your county at the time of registration </li>
      <li> be 18 years old before any election </li>
      <li> not have been convicted of a felony involving moral turpitude (or have had your civil and political rights restored).
          The list of moral turpitude felonies is available on the Secretary of State web site at: sos.alabama.gov/mtfelonies</li>
      <li>not currently be declared mentally incompetent through a competency hearing</li>
      <li>swear or affirm to “support and defend the Constitution of the U.S. and the State of Alabama and further disavow any belief or affiliation
          with any group which advocates the overthrow of the governments of the U.S. or the State of Alabama by unlawful means and that the information contained herein is true, so help me God”</li>
    </ul>
    <h2>Alaska</h2>
    <p>To register in Alaska you must:</p>
    <ul>
      <li> be a citizen of the United States</li>
      <li>be at least 18 years old within 90 days of completing this registration</li>
      <li>be a resident of Alaska</li>
      <li>not be a convicted felon (unless unconditionally discharged)</li>
      <li>not be registered to vote in another State</li>
    </ul>
    <h2>Arizona</h2>
    <p> To register in Arizona you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Arizona and your county at least 29 days preceding the next election</li>
      <li>be 18 years old on or before the next general election </li>
      <li>not have been convicted of treason or a felony (or have had your civil rights restored) </li>
      <li>not currently be declared an incapacitated person by a court of law</li>
    </ul>
    <h2>Arkansas</h2>
    <p>To register in Arkansas you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>live in Arkansas at the address in Box 2 on the application</li>
      <li>be at least 18 years old before the next election</li>
      <li>not be a convicted felon (or have completely discharged your sentence or been pardoned)</li>
      <li>not claim the right to vote in any other jurisdiction</li>
      <li>not previously be adjudged mentally incompetent by a court of competent jurisdiction</li>
    </ul>
    <h2>California</h2>
    <p>To register in California you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of California</li>
      <li>be at least 18 or older on Election Day to vote</li>
      <li>not currently in state or federal prison or on parole for the conviction of a felony </li>
      <li>not currently found to be mentally incompetent to vote by a court </li>      </ul>
    <h2>Colorado</h2>
    <p>To register in Colorado you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Colorado for at least 22 days immediately before the Election in which you intend to vote</li>
      <li>be at least 16 years old, but you must be 18 years of age or older on the date of the election at which you intend to vote</li>
      <li>not be serving a sentence (including parole) for a felony conviction</li>
    </ul>
    <h2>Connecticut</h2>
    <p>To register in Connecticut you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Connecticut and of the town in which you wish to vote</li>
      <li>be 17 years old. You can vote when you turn 18</li>
      <li>have completed confinement and parole if previously convicted of a felony, and have had your voting rights restored by Registrars of Voters.</li>
      <li>not currently be declared mentally competent to vote by a court of law</li>
    </ul>
    <h2>Delaware</h2>
    <p>To register in Delaware:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a permanent resident of Delaware</li>
      <li>be at least 18 years old on the date of the next general election</li>
      <li>not be mentally incompetent</li>
      <li>if you are a felon, you are eligible to vote as long as you have served your sentence (including parole) and your convictions were not for disqualifying felonies: murder and manslaughter (except vehicular homicide), sexual offenses, or crimes against public administration involving bribery or improper influence or abuse of office</li>
    </ul>
    <h2>District of Columbia</h2>
    <p>To register in the District of Columbia you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a District of Columbia resident at least 30 days preceding the next election</li>
      <li>be at least 18 years old on or preceding the next election</li>
      <li>not be in jail for a felony conviction</li>
      <li>not have been judged “mentally incompetent” by a court of law</li>
      <li>not claim the right to vote anywhere outside D.C.</li>
    </ul>
    <h2>Florida</h2>
    <p>To register in Florida you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a legal resident of both the State of Florida and of the county in which you seek to be registered</li>
      <li>be 18 years old (you may pre‑register if you are at least 16)</li>
      <li>not be adjudicated mentally incapacitated with respect to voting in Florida or any other State, or if you have, you must first have your voting rights restored.</li>
      <li>not be a convicted felon, or if you are, you must first have your civil rights restored if they were taken away</li>
      <li>swear or affirm the following: “I will protect and defend the Constitution of the United States and the Constitution of the State of Florida, that I am qualified to
          register as an elector under the Constitution and laws of the State of Florida, and that all information in this application is true.”</li>
    </ul>
    <h2>Georgia</h2>
    <p> To register in Georgia you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a legal resident of Georgia and of the county in which you want to vote </li>
      <li>be 18 years old within six months after the day of registration, and be 18 years old to vote </li>
      <li>not be serving a sentence for having been convicted of a felony</li>
      <li>not have been judicially determined to be mentally incompetent, unless the disability has been removed </li>
    </ul>
    <h2>Hawaii</h2>
    <p>To register in Hawaii you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of the State of Hawaii</li>
      <li>be at least 16 years old (you must be 18 years old by election day in order to vote)</li>
      <li>not be incarcerated for a felony conviction</li>
      <li>not be adjudicated by a court as “non compos mentis”</li>
    </ul>
    <h2>Idaho</h2>
    <p>To register in Idaho you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>have resided in Idaho and in the county for 30 days prior to the day of election</li>
      <li>be at least 18 years old</li>
      <li>not have been convicted of a felony, and without having been restored to the rights of citizenship, or confined in prison on conviction of a criminal offense</li>
    </ul>
    <h2>Illinois</h2>
    <p>To register in Illinois you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Illinois and of your election precinct at least 30 days before the next election</li>
      <li>be at least 18 years old on or before the next election </li>
      <li>not be in jail for a felony conviction </li>
      <li>not claim the right to vote anywhere else</li>
    </ul>
    <h2>Indiana</h2>
    <p>To register in Indiana you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>have resided in the precinct at least 30 days before the next election</li>
      <li>be at least 18 years of age on the day of the next general election</li>
      <li>not currently be in jail for a criminal conviction</li>
    </ul>
    <h2>Iowa</h2>
    <p>To register in Iowa you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Iowa</li>
      <li>be at least 17-1/2 years old (you must be 18 to vote)</li>
      <li>not have been convicted of a felony (or have had your rights restored)</li>
      <li>not currently be judged by a court to be "incompetent to vote"</li>
      <li>not claim the right to vote in more than one place</li>
      <li>give up your right to vote in any other place</li>
    </ul>
    <h2>Kansas</h2>
    <p>To register in Kansas you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Kansas</li>
      <li>be 18 by the next election</li>
      <li>have completed the terms of your sentence if convicted of a felony; a person serving a sentence for a felony conviction is ineligible to vote</li>
      <li>not claim the right to vote in any other location or under any other name</li>
      <li>not be excluded from voting by a court of competent jurisdiction</li>
    </ul>
    <h2>Kentucky</h2>
    <p>To register in Kentucky you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Kentucky</li>
      <li>be a resident of the county for at least 28 days prior to the election daten</li>
      <li>be 18 years of age on or before the next general election</li>
      <li>not be a convicted felon or if you have been convicted of a felony, your civil rights must have been restored by executive pardon</li>
      <li>not have been judged “mentally incompetent” in a court of law</li>
      <li>not claim the right to vote anywhere outside Kentucky</li>
    </ul>
    <h2>Louisiana</h2>
    <p>To register in Louisiana you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Louisiana (Residence address must be address where you claim homestead exemption, if any, except for a resident in a nursing home
        or veteran’s home who may elect to use the address of the nursing home or veterans’ home or the home where he has a homestead exemption. A college student may elect to use his home address or his address while away at school.)</li>
      <li>be at least 17 years old (16 years old if registering to vote with application for Louisiana driver’s license or in person at registrar of voters office), and be 18 years old prior to the next election to vote</li>
      <li>not currently be under an order of imprisonment for conviction of a felony; or if under such an order (1) not have been incarcerated pursuant to the order within the last five years and (2) not be under an order of imprisonment related to a
        felony conviction for election fraud or any other election offense pursuant to R.S. 18:1461.2</li>
      <li>not be under a judgment of full interdiction for mental incompetence or limited interdiction where your right to vote has been suspended</li>
    </ul>
    <h2>Maine</h2>
    <p>To register in Maine you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Maine and the municipality in which you want to vote </li>
      <li>be at least 17 years old (you must be 18 years old to vote) </li>
    </ul>
    <h2>Maryland</h2>
    <p>To register in Maryland you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a Maryland resident</li>
      <li>be at least 18 years old by the next general election</li>
      <li>not be under guardianship for mental disability</li>
      <li>not have been convicted of buying or selling votes</li>
      <li>not have been convicted of a felony, or if you have, you have completed serving a court ordered sentence of imprisonment, including any term of parole or probation for the conviction.</li>
    </ul>
    <h2>Massachusetts</h2>
    <p>To register in Massachusetts you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Massachusetts</li>
      <li>be 18 years old on or before the next election</li>
      <li>not have been convicted of corrupt practices in respect to elections</li>
      <li>not be under guardianship with respect to voting</li>
      <li>not be currently incarcerated for a felony conviction</li>
    </ul>
    <h2>Michigan</h2>
    <p>To register in Michigan you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be 18 years old by the next election</li>
      <li>be a resident of Michigan and at least a 30 day resident of your city or township by election day</li>
      <li>not be confined in a jail after being convicted and sentenced</li>
    </ul>
    <h2>Minnesota</h2>
    <p>To register in Minnesota you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Minnesota for 20 days before the next election</li>
      <li>maintain residence at the address given on the registration form</li>
      <li>be at least 18 years old on election day </li>
      <li>if previously convicted of a felony, your felony sentence has expired or been completed, or you have been discharged from the sentence</li>
    </ul>
    <h2>Mississippi</h2>
    <p>To register in Mississippi you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>have lived in Mississippi and in your county (and city, if applicable) 30 days before the election in which you want to vote</li>
      <li>be 18 years old by the time of the general election in which you want to vote</li>
      <li>have not been convicted of murder, rape, bribery, theft, arson, obtaining money or goods under false pretense, perjury, forgery, embezzlement, armed robbery, extortion, felony bad check, felony shoplifting, larceny, receiving stolen property, robbery, timber larceny, unlawful taking of a motor vehicle, statutory rape, carjacking, or bigamy, or have had your rights restored as required by law  </li>
      <li>not have been declared mentally incompetent by a court</li>
    </ul>
    <h2>Missouri</h2>
    <p>To register in Missouri you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Missouri</li>
      <li>be at least 17-1/2 years of age (you must be 18 to vote)</li>
      <li>not be on probation or parole after conviction of a felony, until finally discharged from such probation or parole</li>
      <li>not be convicted of a felony or misdemeanor connected with the right of suffrage</li>
      <li>not be adjudged incapacitated by any court of law</li>
      <li>not be confined under a sentence of imprisonment</li>
    </ul>
    <h2>Montana</h2>
    <p>To register in Montana you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be at least 18 years old on or before the election</li>
      <li>be a resident of Montana and of the county in which you want to vote for at least 30 days before the next election </li>
      <li>not be in a penal institution for a felony conviction </li>
      <li>not currently be determined by a court to be of unsound mind</li>
      <li>meet these qualifications by the next election day if you do not currently meet them</li>
    </ul>
    <h2>Nebraska</h2>
    <p>To register in Nebraska you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be a resident of Nebraska </li>
      <li>be at least 18 years of age or will be 18 years of age on or before the first Tuesday after the first Monday of November</li>
      <li>not have been convicted of a felony, or if convicted, it has been at least two years since you have completed your sentence for the felony, including any parole term</li>
      <li>not have been officially found to be mentally incompetent</li>
    </ul>
    <h2>Nevada</h2>
    <p>To register in Nevada you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>have attained the age of 18 years on the date of the next election </li>
      <li>have continuously resided in the State of Nevada, in your county, at least 30 days and in your precinct at least 10 days before the next election</li>
      <li>have not been convicted of a felony, or if so convicted, have your voting rights restored automatically by operation of law or pursuant to a court order or pardon</li>
      <li>not be determined by a court of law to be mentally incompetent</li>
      <li>claim no other place as your legal residence</li>
    </ul>
    <h2>New Hampshire</h2>
    <p>To register in Nevada you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be 18 years of age or older on Election Day</li>
      <li>register to vote only in the town or ward in which you actually live</li>
      <li>not have been convicted of a felony, unless you are past your final discharge</li>
      <li>not have been ever convicted of bribery or intimidation relating to elections</li>
    </ul>
    <h2>New Hampshire</h2>
    <p>To register in Nevada you must:</p>
    <ul>
      <li>be a citizen of the United States</li>
      <li>be 18 years of age or older on Election Day</li>
      <li>register to vote only in the town or ward in which you actually live</li>
      <li>not have been convicted of a felony, unless you are past your final discharge</li>
      <li>not have been ever convicted of bribery or intimidation relating to elections</li>
    </ul>
  </body>
</html>
